<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<Configuration>
	<Appenders>

		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

	</Appenders>
	<Loggers>
		<!-- Application Loggers -->
		<logger name="com.nasnav.challenge">
			<level value="info" />
		</logger>
		<logger name="org.springframework.core">
			<level value="info" />
		</logger>

		<logger name="org.springframework.beans">
			<level value="info" />
		</logger>

		<logger name="org.springframework.context">
			<level value="info" />
		</logger>

		<logger name="org.springframework.web">
			<level value="info" />
		</logger>

		<!-- Log everything in hibernate -->
		<Logger name="org.hibernate" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<!-- Log all SQL statements -->
		<Logger name="org.hibernate.SQL" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>